.hamburger-sidebar-container {
    position: absolute;
    top: 90px;
    left: 0rem;
    height: 100vh;
    list-style: none;
    padding-top: 3rem;
    background-color: var(--primary-balck-color);
}

.title-hamburger-sidebar,
.icon-hamburger-sidebar {
    color: var(--pureWhite-color);
}

.title-hamburger-sidebar {
    padding: 2rem;
}

.icon-hamburger-sidebar {
    padding-left: 3rem;
}

.hamburger-sidebar-list {
    margin-top: 3rem;
    padding: 1rem;
    margin: 1rem;
    color: var(--primary-balck-color);
}

.activeLink {
    background-color: var(--lightblack-color);
    border-left: 3px solid var(--tool-bg-color);
    padding: 1rem;
    border-radius: 0.5rem;
}

@media screen and (max-width:768px) {
    .hamburger-sidebar-container {
        top: 9rem;
    }
}

@media screen and (max-width:425px) {
    .hamburger-sidebar-container {
        top: 8rem;
    }
}

@media screen and (max-width:320px) {
    html {
        font-size: 35%;
    }

}